    .di1 {
        height: 135vh;
        background: #ff7c02;

    }
    .di1 img {
        height: 789px;
        width: 1110px;
    justify-content: center;
    margin-top: 87px;
    margin-left: 155px;
    }

    .di2 img{
        width: 170px;
        height: 60px;
        margin-top: 20px;
        margin-left: 20px;
        opacity: 24%

    }
    .di-product {
        background: #fff;
    }
    
    .icon-box {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .text-purple {
        color: #6f42c1;
    }
    footer {
        background-color: #f8f9fa;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    
    footer h5 {
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
    }
    
    footer ul li a:hover {
        color: #ff7c02 ;
    }
    
    footer .input-group .btn {
        background-color: #ff7c02;
        border-color: #ff7c02;
    }
    
    footer .input-group .btn:hover {
        background-color: #e66a00;
        border-color: #e66a00;
    }